{% extends 'main/base.html' %}

{% block title %}
	Home page
{% endblock %}

{% block content %}
	<h1>Home Page</h1>
	
	<div>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit feugiat lorem ac hendrerit. Maecenas sed nisi tincidunt, blandit odio in, tempor quam. In bibendum volutpat eros, ac accumsan enim luctus in. In convallis nec lectus eget dignissim. Nam in blandit felis. Curabitur convallis lorem nec odio dictum ullamcorper.
	</div>
	<div>
		Phasellus sed mi ac mauris tincidunt mattis at eu ipsum. Aliquam sit amet erat et nibh egestas lobortis. Vestibulum sit amet nunc in tellus gravida consectetur quis eget felis. Phasellus venenatis lacus maximus metus commodo, bibendum mattis lorem elementum. Integer in rutrum orci. Aliquam sollicitudin neque eget semper commodo. Nunc ultricies porttitor malesuada. Quisque pulvinar interdum sem. Nam semper vel odio sit amet scelerisque. Vivamus fringilla risus eu magna eleifend placerat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Suspendisse magna quam, ultricies id viverra a, pulvinar et augue. Maecenas mi elit, fringilla eu venenatis id, pretium et eros. Sed sit amet facilisis dolor, quis rutrum orci. Suspendisse potenti.
	</div>
	<div>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla molestie luctus metus, nec pellentesque nunc. Etiam sagittis blandit scelerisque. Praesent dignissim tellus sit amet sapien dignissim, in faucibus nulla egestas. Cras viverra metus nec augue commodo, at rutrum nisl interdum. Curabitur et accumsan sapien. Suspendisse ut nulla quam. Curabitur pellentesque, dui ac efficitur laoreet, enim est lobortis tellus, non faucibus leo justo non tortor. Ut rutrum augue magna, laoreet cursus ipsum congue vel. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur congue nec enim vel condimentum. Maecenas ac fringilla tortor. Quisque sodales dignissim lectus, ut facilisis felis maximus sit amet.
	</div>
{% endblock %}